# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [ ]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = [1, 2, 3, 4, 5, 6]

In [3]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
list1 = b[3:]

NameError: name 'b' is not defined

In [ ]:
# @@@ Question 3: Create a list of numbers from 1 to 20
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
list2 = []
for i in range(100):
    if i % 2 == 0:
        list2.append(i)

In [ ]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(a,b):
    return a / b

In [ ]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1,30):
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

In [ ]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
priceDict = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

In [5]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
type(df)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# @@@ Question 9: select all rows with more than and including 400 calories

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content

In [ ]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink

In [ ]:
# @@@ Question 12: what is the average calorie across all items?

In [ ]:
# @@@ Question 13: how many different categories of beverages are there?

In [ ]:
# @@@ Question 14: what is the average # calories for each beverage category?